<%= form_with(model: near_station, local: true) do |form| %>
  <% if near_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(near_station.errors.count, "error") %> prohibited this near_station from being saved:</h2>

      <ul>
      <% near_station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :line %>
    <%= form.text_field :line %>
  </div>

  <div class="field">
    <%= form.label :station_name %>
    <%= form.text_field :station_name %>
  </div>

  <div class="field">
    <%= form.label :time_on_foot %>
    <%= form.number_field :time_on_foot %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
