<p id="notice"><%= notice %></p>

<p>
  <strong>Line:</strong>
  <%= @near_station.line %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @near_station.station_name %>
</p>

<p>
  <strong>Time on foot:</strong>
  <%= @near_station.time_on_foot %>
</p>

<%= link_to 'Edit', edit_near_station_path(@near_station) %> |
<%= link_to 'Back', near_stations_path %>
