<p id="notice"><%= notice %></p>

<h1>Estates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Adress</th>
      <th>Age</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estates.each do |estate| %>
      <tr>
        <td><%= estate.name %></td>
        <td><%= estate.price %></td>
        <td><%= estate.adress %></td>
        <td><%= estate.age %></td>
        <td><%= estate.content %></td>
        <td><%= link_to 'Show', estate %></td>
        <td><%= link_to 'Edit', edit_estate_path(estate) %></td>
        <td><%= link_to 'Destroy', estate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estate', new_estate_path %>
